.container-about {
    padding: 20px;
    text-align: center;
    background-color: #79ffe1;
    border-left: 10px solid #007bff;
    /* color: white; */
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

.title-about {
    font-size: 32px;
    margin-bottom: 10px;
}

.text-about {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.image-about {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    margin-top: 10px;
}

.question-about {
    margin-top: 30px;
    text-align: left;
}

.question-about details {
    background: #57ff28;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 8px;
    cursor: pointer;
    color: #121211;
}

.question-about summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.question-about .p-about {
    font-size: 20px;
    border-top: 2px solid black;
    margin-top: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
